<ul class="breadcrumb">
  <li><a class= "active" href="/">Home</a></li>
  <li><a class= "active" href="#">Projects</a></li>
</ul>
<div class="wrapper">
  <div class="index_info">
    <h2>Add Project</h2>
    <ul class="project_list">
      <form action="/add/project" method="get">
        <div class="input-group">
          <span class="input-group-addon">Project Name</span>
          <input type="text" class="form-control" name="project" placeholder="Project Name">
        </div>
        <br>
        <button type="Submit" class="btn btn-success">Add</button>
      </form>
    </ul>
  </div>
</div>
