<ul class="breadcrumb">
  <li><a class= "active" href="/">Home</a></li>
  <li><a class= "active" href="#">Projects</a></li>
</ul>
<div class="wrapper">
  <div class="project_info">
    <h2>Project List</h2>
    <ul class="project_list">
      <% @project_list.each do |project| %>
        <li><a href="/project/<%= project.id%>"><%= project.name%></a>
          <form action="/" method="post" class="project_delete" style="
    display: inline-block;">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="id" value="<%= project.id%>">
            <button type="submit" class="btn btn-info btn-xs">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </form></li>
      <% end %>
    </ul>
</div>
</div>
