<ul class="breadcrumb">
  <li><a class= "active" href="#">Home</a></li>
</ul>
<div class="wrapper">
  <div class="index_info">
    <h2>Volunteer Tracker</h2>
      <form class="" action="/search" method="get">
        <input id="email" type="text" class="form-control search" name="search" placeholder="Search Volunteers & Projects by name">
        <button type="submit" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-search"></span>Search
        </button>
      </form>
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger"><a href="/project">Projects</a></button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger"><a href="/volunteer">Volunteers</a></button>
      </div>
    </div>
  </div>
</div>
