<ul class="breadcrumb">
  <li><a class= "active" href="#">Home</a></li>
</ul>
<div class="wrapper">
  <div class="index_info">
    <h2>Volunteer Tracker</h2>
    <div class="input-group">
      <input id="email" type="text" class="form-control" name="email" placeholder="Search Volunteers & Projects by name">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger"><a href="/project">Projects</a></button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-danger"><a href="/volunteer">Volunteers</a></button>
      </div>
    </div>
  </div>
</div>
